@use "variables" as v;

body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: v.$hero_image;
    background-size: cover;
    justify-content: center;
    // background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // overflow: auto;
    section{
      height: 100vh;
        display: flex;
        justify-content: center;
        header{
            #toggle {
                display: none;
              }
            .hamburger {
                position: absolute;
                text-align: center;

                top: 5em;
                right: 5%;
                margin-left: -2em;
                margin-top: -45px;
                width: 2em;
                height: 45px;
                z-index: 5;
              }
              .hamburger div {
                position: relative;
                width: 3em;
                height: 7px;
                border-radius: 3px;
                background-color: white;
                margin-top: 8px;
                transition: all 0.3s ease-in-out;
              }
              /**
              Nav Styles
              **/
              .nav {
                position: fixed;
                width: 100%;
                height: 100%;
                // background-color: #090E6B;
                // opacity: 0.5;
                top: -100%; left: 0; right: 0; bottom: 0;
                overflow: hidden;
                transition: all 0.3s ease-in-out;
                transform: scale(0);
              }
              .nav-wrapper {
                position: relative;
                overflow: hidden;
                overflow-y: auto;
                height: 100%;
              }
              nav {
                text-align: center;
                // margin-left: 45%;
                padding-top: 26px;
                background-color: rgba(255, 255, 255, 0.163);

              }
              nav a {
                position: relative;
                text-decoration: none;
                color: white;
                font-size: 2em;
                display: inline-block;
                margin-top: 5px;
                transition: color 0.2s ease-in-out;
                letter-spacing: 1px;
              }
              nav a:before {
                content: '';
                height: 0;
                position: absolute;
                width: 0.25em;
                background-color: white;
                left: -0.5em;
                transition: all 0.2s ease-in-out;
              }
              nav a:hover {
                color: white;
              }
              nav a:hover:before {
                height: 100%;
              }
              
              /**
              Animations
              **/
              #toggle:checked + .hamburger .top-bun {
                transform: rotate(-45deg);
                // margin-top: 5px;
              }
              #toggle:checked + .hamburger .bottom-bun {
                opacity: 0;
                transform: rotate(45deg);
              }
              #toggle:checked + .hamburger .meat {
                transform: rotate(45deg);
                margin-top: -7px;
              }
              
              #toggle:checked + .hamburger + .nav {
                top: 0;
                transform: scale(1);
              }
        }
        article{
            text-align: center;
        //   '  justify-content: center;'
        // padding: 50%;
        margin-top: 50%;
        color: white;
        }
        h1{
            font-size: 30px;
        }
        p{
            font-size: medium;
        }

    }

    .team {
      display: flex;
      text-align: center;
        flex-wrap: wrap;
        // display: flex;
        // justify-content: center;
        width: 100%;
        height: auto;
        color: black;
        background-color: white;
        justify-content: center;
        padding-bottom: 40px;
        h2 {
          display: block;
          width: 100%;
        }
        h5{
          width: 100%;
        }
        &__members {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }
        // &__members__container{
        //     width: 40px;
        //     height: 40px;
        // }
        &__members__img{
          border-radius: 50%;
            width: 50%;
            height: 100%;
            box-shadow: 0px 0px 30px rgba(15, 15, 15, 0.57);
            // box-shadow: 0px 0px 5px rgba(0,0,0,.3);
            // padding:7px;
          }
        &__members_description {
          // text-align: center;
          // justify-content: center;
          color: black;
          background-color: rgba(204, 202, 202, 0.766);
          padding: 10%;
          margin-top: 10px;
          width: 60%;
          border-radius: 7%;
        }
    }

    footer {
        background-color: black;
        color: white;
        // margin-top: auto;
        padding-left: 29%;
    }
}